$mainPageColor: #f85b1a;
$secondPageColor: #fdfdfd;
$titleColorYellow: #ffd902;
$titleColorOrange: #f85b1a;
$textColorDark: #0f0f0f;
$textColorLight: #fff;
$imgBackColor: #000;
$faqBoxColor: #f88351;
$descriptionBox: #ffd7c1;